<form action="/create" method="post" class="col s12">
  <h3>Create todo</h3>
  <div class="input">
    <input type="text" name="title" value="">
    <label>To do title</label>
  </div>
  <button type="submit" class="btn">Create</button>
</form>
